# web framework and server
fastapi
uvicorn[standard]

# db & migration
sqlalchemy
alembic
psycopg2-binary

# validation
pydantic
pydantic-settings

# Security & Utilities
python-jose[cryptography]
bcrypt
python-dotenv
python-multipart

# Testing
pytest
pytest-asyncio
httpx